#p1
{
    position: absolute;
    visibility: visible;
    left: 235px;
    top: 5px;
    z-index: 1;
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: floralwhite;
    width: 350px;
    -webkit-animation-duration: 0.5s;
}
#p1_score
{
    position: absolute;
    visibility: visible;
    left: 160px;
    top: 5px;
    z-index: 1;
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: floralwhite;
    width: 75px;
    -webkit-animation-duration: 0.5s;
}
#p2
{
    position: absolute;
    visibility: visible;
    right: 240px;
    top: 5px;
    z-index: 1;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    color: floralwhite;
    width: 350px;
    -webkit-animation-duration: 0.5s;
}
#p2_score
{
    position: absolute;
    visibility: visible;
    right: 150px;
    top: 5px;
    z-index: 1;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    color: floralwhite;
    width: 75px;
    -webkit-animation-duration: 0.5s;
}
#hiddenStuff
{
    visibility: visible;
    bottom: 200px;
}